recursive-include nonblock *.py
recursive-include doc *.html
include ChangeLog
include README.md
include README.rst
include setup.py
include MANIFEST.in
include LICENSE
include testWrite.py
include example/simpleGame.py
